.txtDescricaoProduto{
width: 298px;
height: 60px;


font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;


color: #252423;
}

.txtModal{
    position: absolute;
width: 568px;
height: 245px;
left: 52px;
top: 167px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 40px;
/* or 200% */

text-align: center;

color: #000000;

}